<div id="eePage" class="eePage">
    <div class="topBar">
        <div class="navBar">
            <!--logo-->
            <div class="logoImg"><img id="logoImg" src="" alt=""></div>
            <!--导航栏-->
            <div class="navigationBar">
                <ul>
                    <li><a class="on">实时监控</a></li>
                    <li><a>能效分析</a></li>
                    <li><a>数据查询</a></li>
                </ul>
            </div>
            <!--基本设置信息-->
            <div class="basicSetBar">
                <span class="loginUser" id="userName">admin</span>
                <span class="setting">设置</span>
                <span class="exit" id="exitEe">退出</span>
            </div>
        </div>
        <div class="subBar">
            <div class="sysName">企业智慧能源管理平台</div>
            <div class="enterpriseName" id="enterPriseName">--</div>
        </div>
    </div>
    <div id="eeMainContent" class="eeMainContent">

    </div>
</div>