<div class="sp-ls-body" id="sp-ls-body">
    <div class="ls-header">
        <div class="totalGen"><span i18n="screen.totalGen">totalGen</span>：<i></i><i></i>&nbsp;&nbsp;<span
                id="totalGenU">--</span></div>
        <div class="largeScreen-logo " id="toManageSys">
            <img class="logo" src="" alt="">
            <span></span>
        </div>
        <div class="screenTime"><b id="scT">--</b><span i18n="screen.year">年</span><i>--</i><span
                i18n="screen.month">月</span><i>--</i><span i18n="screen.day">日</span>&nbsp;&nbsp;<i class="clock"
                                                                                                    style="display: inline-block;width: 150px;height: 32px"></i>
        </div>
    </div>
    <div class="ls-center">
        <div class="ls-center-l">
            <div class="ls-center-l1 dynamic-module ModuleName1 fadeInBox"></div>
            <div class="ls-center-l2 dynamic-module ModuleName2 fadeInBox"></div>
            <div class="ls-center-l3 dynamic-module ModuleName3 fadeInBox"></div>
        </div>
        <div class="ls-center-c ">
            <div class="map-container" id="mapContainer"></div>
            <div class="ls-center-cb fadeInBox" id="powerTotal">
                <div class="powerName"><span class="yearTotal"><span i18n="screen.yearGen">年度发电量：</span><i
                        id="yg"></i><b id="ygu"></b></span><span class="monthTotal"><span
                        i18n="screen.monthGen">月度发电量：</span><i id="mg"></i><b id="mgu"></b></span></div>
                <div id="powerPic" style="width: 100%; height: 86%;margin-top: 3%"></div>
            </div>
        </div>
        <div class="ls-center-r">
            <div class="ls-center-r1 dynamic-module ModuleName4 fadeInBox"></div>
            <div class="ls-center-r2 dynamic-module ModuleName5 fadeInBox"></div>
            <div class="ls-center-r3 dynamic-module ModuleName6 fadeInBox"></div>
        </div>
    </div>
</div>
