<table id="cameraTable" class="hover stripe" cellspacing="0" width="97.6%">
    <thead class="text-center">
    <tr style="border: 1px solid white;border-radius: 4px">
        <th class="fith">
            <img class="checkall" src="images/repImages/rect.png">
        </th>
        <th i18n="deviceName">deviceName</th>
        <th i18n="sn">sn</th>
        <th i18n="manufacturer">manufacturer</th>
        <th i18n="model">model</th>
        <th i18n="orgName">orgName</th>
        <th i18n="plantName">plantName</th>
        <th i18n="status">status</th>
        <th class="lath" i18n="operate">operate</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>