<table id="dauTable" class="hover stripe dauTable" cellspacing="0" width="97.6%" style="display: none">
    <thead class="text-center">
    <tr style="border: 1px solid white;border-radius: 4px">
        <th class="fith">
            <img class="checkall" src="images/repImages/rect.png" style="width: 16px;height: 16px">
        </th>
        <th i18n="deviceName">deviceName</th>
        <th i18n="model">model</th>
        <th i18n="sn">sn</th>
        <th i18n="orgName">orgName</th>
        <th i18n="plantName">plantName</th>
        <th i18n="accessTime">accessTime</th>
        <th i18n="status">status</th>
        <th permission="dataLoggerEdit" class="lath" i18n="operate">operate</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
