<div class="navList1" id="navList1">
    <ul class="navUl">
        <li permission = 'deviceLisManage' class="activeLi"><span><img src="/images/setting/deviceManage/equipment2.png"></span><a attr-href="partial/setting/deviceManage/dauInvCam.html"  i18n="deviceManagement">deviceManagement</a></li>
        <li permission = 'deviceLibManage'><span><img src="/images/setting/deviceManage/library1.png" alt=""></span><a attr-href="partial/setting/deviceManage/devInvEle.html" i18n="equipmentLibManagement">equipmentLibManagement</a></li>
    </ul>
    <div class="messageList" id="messageList">
    </div>
</div>
