<table id="inverterDeviceTable" class="hover stripe inverterDeviceTable" cellspacing="0" width="97.6%" style="display: none">
    <!--<thead class="text-center">-->
    <!--<tr style="border: 1px solid white;border-radius: 4px">-->
        <!--<th class="fith">-->
            <!--<img class="checkall" src="images/repImages/rect.png" style="width: 16px;height: 16px">-->
        <!--</th>-->
        <!--<th>设备名称</th>-->
        <!--<th>型号</th>-->
        <!--<th>编号</th>-->
        <!--<th>所属组织</th>-->
        <!--<th>所属电站</th>-->
        <!--<th>接入时间</th>-->
        <!--<th>状态</th>-->
        <!--<th class="lath">操作</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->

    <!--</tbody>-->
</table>


