<!--左边表格信息-->
<div class="battery-left-table fl">
    <div class="battery-current-switch">
        <!--电池簇信息-->
        <div class="battery-info infoDiv fl">
            <div class="left-icon"></div>
            <div class="right-data"></div>
        </div>
        <!--电流信息-->
        <div class="current-info infoDiv fl">
            <div class="left-icon"></div>
            <div class="right-data"></div>
        </div>
    </div>
    <div class="battery-table">
        <table class="hover stripe" id="batteryTable" width="100%"></table>
    </div>
</div>
<!--右边电池详情-->
<div class="battery-right-detail fr">

</div>