<div class="sp-module companyInfo">
    <div class="title-module" i18n="screen.societyContribution">社会贡献</div>
    <div class="company-content-r contributionPart">
        <ul class="flex-img flex flex_flex">
            <li class="flex_center"><div><img src="/images/largeScreen/co2_1.png" alt=""></div><b></b><span></span></li>
            <li class="flex_center"><div><img src="/images/largeScreen/tree_1.png" alt="" ></div><b></b><span></span></li>
            <li class="flex_center"><div><img src="/images/largeScreen/c_1.png" alt=""></div><b></b><span></span></li>
        </ul>
    </div>
</div>