<div class="sp-module companyInfo">
    <div class="title-module" i18n="screen.manageScale">管理规模</div>
    <div class="company-content-r equipmentDis">
        <div class="equipmentFlex">
            <div class="flexBox">
                <img src="/images/largeScreen/assembly.png" alt="" style="margin: 0 20px 0 0">
                <span class="sp1"></span>
                <b class="b1"></b>
            </div>
            <i class="i1" i18n="screen.block">组件</i>
        </div>
        <div class="equipmentFlex">
            <div class="flexBox">
                <img src="/images/largeScreen/inverter.png" alt="" style="margin: 0 20px 0 0">
                <span class="sp2"></span>
                <b class="b2"></b>
            </div>
            <i class="i2" i18n="screen.inverter">逆变器</i>
        </div>
        <div class="equipmentFlex">
            <div class="flexBox">
                <img src="/images/largeScreen/area.png" alt="" style="margin: 0 20px 0 0">
                <span class="sp3"></span>
                <b class="b3"></b>
            </div>
            <i class="i3" i18n="screen.coveringArea">覆盖面积</i>
        </div>
        <!--<ul class="equipmentFlex">-->
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="../../images/assembly.png" alt="">-->
                    <!--<span>1231</span>-->
                    <!--<b>2313</b>-->
                <!--</div>-->
                <!--<div>组件</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div><img src="../../images/inverter.png" alt=""><i>逆变器</i></div>-->
                <!--<span>1312</span>-->
                <!--<b>23</b>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div><img src="../../images/area.png" alt=""><i>面积</i></div>-->
                <!--<span>232</span>-->
                <!--<b>232</b>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>