<div class="fourfirSection clearfix pmSingleDevice">
    <div id="deviceListArea" class="deviceList pms-item" style="height: 934px">
        <div class="deviceTable noNavigator">
            <table id="collectorList" class="hover stripe " cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th width="5%" class="fith">
                        <img class="checkall" src="images/pmImages/collector_2.png">
                    </th>
                    <th width="25%" i18n="devMonitor.collector">采集器</th>
                    <th width="70%" i18n="devMonitor.status">状态</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="deviceTable noNavigator">
            <table id="inverterList" class="hover stripe noNavigator" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th width="5%" class="fith">
                        <img class="checkall" src="images/pmImages/inverter_2.png">
                    </th>
                    <th width="25%" i18n="devMonitor.inverter">逆变器</th>
                    <th width="20%" i18n="devMonitor.status">状态</th>
                    <th width="25%" i18n="devMonitor.outputPower">输出功率(千瓦)</th>
                    <th width="25%" i18n="devMonitor.genEelecEnergy">发电量(度)</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="deviceTable noNavigator">
            <table id="cenInverterList" class="hover stripe noNavigator" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th width="5%" class="fith">
                        <img class="checkall" src="images/pmImages/cinverter.png">
                    </th>
                    <th width="25%" i18n="devMonitor.cenInverter">集中式逆变器</th>
                    <th width="20%" i18n="devMonitor.status">状态</th>
                    <th width="25%" i18n="devMonitor.outputPower">输出功率(千瓦)</th>
                    <th width="25%" i18n="devMonitor.genEelecEnergy">发电量(度)</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="deviceTable noNavigator">
            <table id="confBoxList" class="hover stripe noNavigator" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th width="5%" class="fith">
                        <img class="checkall" src="images/pmImages/combinerbox.png">
                    </th>
                    <th width="25%" i18n="devMonitor.combinerbox">汇流箱</th>
                    <th width="20%" i18n="devMonitor.status">状态</th>
                    <th width="25%"  i18n="devMonitor.voltage">电压(V)</th>
                    <th width="25%"  i18n="devMonitor.elecCurrent">电流(A)</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="deviceTable noNavigator">
            <table id="pcsList" class="hover stripe noNavigator" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th width="5%" class="fith">
                        <img class="checkall" src="images/pmImages/inverter_2.png">
                    </th>
                    <th width="25%" i18n="devMonitor.pcs">PCS</th>
                    <th width="20%" i18n="devMonitor.status">状态</th>
                    <th width="25%" i18n="devMonitor.outputPower">输出功率(千瓦)</th>
                    <th width="25%" i18n="devMonitor.useElecEnergy">放电量(度)</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="deviceTable noNavigator">
            <table id="bmsList" class="hover stripe noNavigator" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th width="5%" class="fith">
                        <img class="checkall" src="images/pmImages/bms_1.png">
                    </th>
                    <th width="25%" i18n="devMonitor.bms">BMS</th>
                    <th width="20%" i18n="devMonitor.status">状态</th>
                    <th width="25%" i18n="devMonitor.soc">SOC</th>
                    <th width="25%" i18n="devMonitor.overageElecEnergy">剩余电量(度)</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="deviceTable noNavigator">
            <table id="meterList" class="hover stripe noNavigator" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th width="5%" class="fith">
                        <img class="checkall" src="images/pmImages/ammeter_1.png">
                    </th>
                    <th width="25%" i18n="devMonitor.ammeter">电表</th>
                    <th width="20%" i18n="devMonitor.status">状态</th>
                    <th width="25%" i18n="devMonitor.positiveElectricity">正向电度(度)</th>
                    <th width="25%" i18n="devMonitor.relativeElectricity">反向电度(度)</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="deviceTable noNavigator">
            <table id="bcList" class="hover stripe noNavigator" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th width="5%" class="fith">
                        <img class="checkall" src="images/pmImages/ybm.png">
                    </th>
                    <th width="25%">箱变</th>
                    <th width="20%" i18n="devMonitor.status">状态</th>
                    <th width="25%" >有功功率</th>
                    <th width="25%">电压</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="deviceTable noNavigator">
            <table id="edList" class="hover stripe noNavigator" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th width="5%" class="fith">
                        <img class="checkall" src="images/pmImages/hjjcy.png">
                    </th>
                    <th width="25%">环境检测仪</th>
                    <th width="20%" i18n="devMonitor.status">状态</th>
                    <th width="50%" >瞬间总辐射</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>
    <div class="deviceDetail pms-item" id="nanImg" style="display: none;text-align:center;height: 934px">
        <div style="margin-top: 30px">加载中......</div>
    </div>
    <div class="deviceDetail pms-item" id="deviceDetail" style="display: none;">
        <div class="deviceBasic clearfix">
            <div class="pic">
                <img id="devImg" alt="">
            </div>
            <div class="txt">
                <p><label i18n="devMonitor.name">设备名称：</label><span id="sp-deviceName">--</span></p>
                <p><label i18n="devMonitor.brand">品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌：</label><span id="sp-mark">--</span></p>
                <p><label i18n="devMonitor.modal">型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label><span id="sp-deviceModel">--</span></p>
                <p id="devPower"><label i18n="devMonitor.powerRating">额定功率：</label><span id="sp-power">--</span></p>
                <p><label i18n="devMonitor.accessTime">接入时间：</label><span id="sp-connTime">--</span></p>
                <p><label i18n="devMonitor.devNo">设备编号：</label><span id="sp-deviceSN">--</span></p>
            </div>
        </div>
        <div class="dynamicData">
            <div class="sp-navBar" id="sp-navBar">
                <div attrId='1'><b></b><span i18n="devMonitor.data">数据</span></div>
                <div id="deviceStatus" style="display: none" attrId='2'><b></b><span i18n="devMonitor.status">状态</span></div>
                <div id="deviceControl" style="display: none" permission='deviceControlEdit' attrId='3'><b></b><span i18n="devMonitor.remoteMon">远程监控</span></div>
            </div>
            <div class="sp-data">
                <div class="pre sliderBtn">
                    <a id="pre-data" style="display:none"></a>
                </div>
                <div class="contain clearfix" id="dataContain"  i18n="noData">
                    暂无数据
                </div>
                <div class="next sliderBtn">
                    <a id="next-data" sliderTo='1'></a>
                </div>
            </div>
        </div>
        <div class="curve" id="powerCurve">
            <div class="toolBar">
                <div class="splitLineH"></div>
                <button id="deviceSwitchBtn" class="imgBtn serchBtn searchTime" i18n="search">搜索</button>
                <input type="text" name="timeStart" class="Wdate" id="deviceSwitch"
                       onclick="WdatePicker({maxDate:'%y-%M-%d',readOnly:true})"/>

            </div>
            <div id="powerData" style="width: 100%;height: 310px;
            clear: both">
                <div id="powerDataEchart" style="width: 100%;height: 100%; clear: both"></div>
            </div>
        </div>
    </div>
</div>