<!--
*2018/3/6
*@author: SP0014
*@description:  单电站监控页面  环境贡献  光储储能 天气预报
-->
<!--光伏环境贡献-->
<div style="display: none" class="gf-plant-contribution">
    <div class="contributionInfo">
        <h2 i18n="plantMonitor.enviroContribution">环境贡献</h2>
    </div>
    <div class="contributionItem">
        <ul class="flex-img flex flex_flex">
            <li class="flex_center"><div><img src="/images/pmImages/co2.png" alt="" style="width: 90px; height: 50px;margin-top: 44px;"></div><b></b><span></span></li>
            <li class="flex_center"><div><img src="/images/pmImages/tree.png" alt="" style="width: 98px; height: 88px;margin-top: 6px"></div><b></b><span></span></li>
            <li class="flex_center"><div><img src="/images/pmImages/c.png" alt="" style="width: 104px; height: 94px;"></div><b></b><span></span></li>
        </ul>
    </div>
</div>
<!--储能光储天气预报-->
<div class="ele-plant-weather">
    <div class="contributionInfo sgPlantWeather">
        <div class="todayTimeWeek">--</div>
    </div>
    <div class="contributionItem weather-item">
        <!--<ul class="flex-img flex flex_flex">-->
        <!--<li class="flex_center"><div><img src="/images/pmImages/co2.png" alt="" style="width: 90px; height: 50px;margin-top: 44px;"></div><b></b><span></span></li>-->
        <!--<li class="flex_center"><div><img src="/images/pmImages/tree.png" alt="" style="width: 98px; height: 88px;margin-top: 6px"></div><b></b><span></span></li>-->
        <!--<li class="flex_center"><div><img src="/images/pmImages/c.png" alt="" style="width: 104px; height: 94px;"></div><b></b><span></span></li>-->
        <!--</ul>-->
        <div class="today-weather">
            <div class="weather-img">
                <img src="/images/weather/daxue.png" alt="" style="width: 74px;height: 61px">
            </div>
            <div class="tep">
                --
            </div>
            <div class="weather-tep">
                <p>--</p>
                <p>--</p>
            </div>
        </div>
        <div class="tom-after">
            <div class="tomorrow fl">
                <div class="tomorrow-img fl">
                    <img src="/images/weather/duoyun.png" alt="" style="width: 50px;height: 40px">
                    <p>--</p>
                </div>
                <div class="tomorrow-tep">
                    <p i18n="screen.tomorrow">--</p>
                    <p>--</p>
                </div>
            </div>
            <div class="tomorrow fr">
                <div class="tomorrow-img fl">
                    <img src="/images/weather/duoyun.png" alt="" style="width: 50px;height: 40px">
                    <p>--</p>
                </div>
                <div class="tomorrow-tep">
                    <p i18n="screen.dayAfterTomorrow">--</p>
                    <p>--</p>
                </div>
            </div>
        </div>
    </div>
</div>
