<!--
*2018/3/6
*@author: SP0014
*@description:  单电站监控页面  静态信息
-->
<!--光伏-->
<div class="photovoltaic-plant" style="display: none">
    <div class="capPow">
        <p><b i18n="totalCap">totalCap</b> <span>--</span></p>
        <p><i id="currentPower"></i><i id="sparePower"></i><b id="currentTriangle"></b></p>
        <p><b i18n="sp.curPower">curPower</b>：<span>--</span></p>
    </div>
    <div class="taact gf-plant-info">
        <p>
            <span><img src="/images/pmImages/type.png" alt=""></span>
            <i i18n="sp.type">type</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/site.png" alt=""></span>
            <i i18n="sp.address">address</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/area.png" alt=""></span>
            <i i18n="sp.area">area</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/contact.png" alt=""></span>
            <i i18n="sp.contact">contact</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/time.png" alt=""></span>
            <i i18n="sp.time">time</i>
            <b>--</b>
        </p>
    </div>
    <div class="info">
        <p>--</p>
    </div>
</div>

<!--光储-->
<div class="Optical-storage-plant" style="display: none">
    <div class="head-power">
        <p><b i18n="sp.curPower">curPower</b> <span>--()</span>: <span>--</span></p>
        <p><i id="current-power"></i><i id="spare-power"></i><b id="current-triangle-power"></b><span class="current-percent"></span></p>
        <p><b i18n="sp.gfCap">gfCap</b> <span>--()</span>: <span>--</span></p>
        <p><b i18n="sp.curCap">curCap</b> <span>--()</span>: <span>--</span></p>
        <p><i id="current-capacity"></i><i id="spare-capacity"></i><b id="current-triangle-capacity"></b><span class="current-percent"></span></p>
        <p><b i18n="batCapacity">batCapacity</b> <span>--()</span>: <span>--</span></p>
    </div>
    <div class="plant-information taact">
        <p>
            <span><img src="/images/pmImages/type.png" alt=""></span>
            <i i18n="sp.type">type</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/site.png" alt=""></span>
            <i i18n="sp.address">address</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/area.png" alt=""></span>
            <i i18n="sp.area">area</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/contact.png" alt=""></span>
            <i i18n="sp.contact">contact</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/time.png" alt=""></span>
            <i i18n="sp.time">time</i>
            <b>--</b>
        </p>
    </div>
</div>
<!-- 储能-->
<div class="energy-plant" style="display: none">
    <div class="energy-head">
        <p><b i18n="sp.curCap">curCap</b> <span>--</span>:<span></span></p>
        <p><i id="currentBat"></i><i id="spareBat"></i><b id="currentCnTriangle"></b><span class="current-percent current-bat">--</span></p>
        <p><b i18n="batCapacity">batCapacity</b> <b>--</b>:<span></span></p>
    </div>
    <div class="taact cn-plant-info">
        <p>
            <span><img src="/images/pmImages/type.png" alt=""></span>
            <i i18n="sp.type">type</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/site.png" alt=""></span>
            <i i18n="sp.address">address</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/area.png" alt=""></span>
            <i i18n="sp.area">area</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/contact.png" alt=""></span>
            <i i18n="sp.contact">contact</i>
            <b>--</b>
        </p>
        <p>
            <span><img src="/images/pmImages/time.png" alt=""></span>
            <i i18n="sp.time">time</i>
            <b>--</b>
        </p>
    </div>
</div>
