<!--
*2018/3/6
*@author: SP0014
*@description:  单电站监控页面  天气
-->
<p class="activeTime" id="ps-activeTime">--</p>
<div class="weaterImg">
    <div class="todayWeather">
        <img src="/images/weather/qing.png" alt="" style="width: 74px;height: 61px">
    </div>
    <div class="weatherInfo">
        <span>--</span>
        <span>--</span>
        <span>--</span>
    </div>
</div>
<div class="splitLine"></div>
<div class="taWeather">
    <div class="tomWeather fl">
        <div class="lfInfo" i18n="sp.tomorrow">
            --
        </div>
        <div class="jgl1"></div>
        <div class="rgInfo">
            <img src="/images/weather/qiangshachenbao.png" alt="">
            <p>--</p>
            <p>--</p>
        </div>
    </div>
    <div class="jgLine fl">

    </div>
    <div class="tomWeather fr">
        <div class="lfInfo" i18n="sp.afterTomorrow">
           --
        </div>
        <div class="jgl1"></div>
        <div class="rgInfo">
            <img src="/images/weather/qiangshachenbao.png" alt="">
            <p>--</p>
            <p>--</p>
        </div>
    </div>
</div>