<div class="navList" id="navList">
    <ul class="navUl">
        <li class="activeLi" permission = 'myInfo'><span><img src="/images/setting/me2.png"></span><a attr-href="partial/setting/AccountAndAuthority/aboutMe.html" i18n="myInfo" >myInfo</a></li>
        <li permission = 'groupInfo'><span><img src="/images/setting/organization1.png" alt=""></span><a attr-href="partial/setting/AccountAndAuthority/organizationalInfo.html" i18n="orgInfo">orgInfo</a></li>
        <li permission = 'accountManage'><span><img src="/images/setting/account1.png" alt=""></span><a attr-href="partial/setting/AccountAndAuthority/AccountManagement.html" i18n="accountManagement">accountManagement</a></li>
        <li permission = 'roleAuthority'><span><img src="/images/setting/role1.png" alt=""></span><a attr-href="partial/setting/AccountAndAuthority/roleAuthority.html" i18n="roleAuthority">roleAuthority</a></li>
        <li permission = 'plantAuthority'><span><img src="/images/setting/authority1.png" alt=""></span><a attr-href="partial/setting/AccountAndAuthority/powerStation.html" i18n="powerStation">powerStation</a></li>
    </ul>
    <div class="messageList" id="messageList">

    </div>
</div>
