<div class="organizationBox">
    <div class="organizationLf">
        <div class="searchBox">
            <div class="searchImg">
                <img src="/images/setting/search1.png" alt="">
            </div>
            <input type="text" id="key" class="searchContent" i18n="searchPlaceholder" placeholder="searchPlaceholder">
            <div class="searchBtn" i18n="search">search</div>
        </div>
        <div id="ztree" class="ztree">
        </div>
    </div>
    <div class="chooseRegionBox">
        <div class="regionTitle" id="regionTitle">
            <img src="images/setting/site.png" alt="">
            <!--<span>中国</span>-->
            <!--<span>/&nbsp;&nbsp;四川</span>-->
            <!--<span>/&nbsp;&nbsp;成都</span>-->
        </div>
        <div class="regionDetail" id="regionDetail">
            <span i18n="roleAuthMan.permissionsLoading">permissionsLoading</span>
            <!--<span>成都</span>-->
            <!--<span>成都</span>-->
            <!--<span>成都</span>-->
            <!--<span>成都</span>-->
            <!--<span>成都</span>-->
            <!--<span>成都</span>-->
            <!--<span>成都</span>-->
            <!--<span>成都</span>-->
            <!--<span>成都</span>-->
            <!--<span>成都</span>-->

        </div>
    </div>
    <div class="modifyJurisdictionBox">
        <!--<div class="searchBox">-->
            <!--<div class="searchImg">-->
                <!--<img src="/images/setting/search1.png" alt="">-->
            <!--</div>-->
            <!--<input type="text" class="searchContent" placeholder="请输入电站名称">-->
            <!--<div class="searchBtn">搜索</div>-->
        <!--</div>-->
        <div class="JurisdictionBox">
            <div class="JurisdictionBoxTitle">
                <span id="checkAll" i18n="selectAll">
                    <!--<img id="checkAll" src="images/repImages/rect.png" alt="">-->
                        selectAll
                </span>
                <span id="checkReverse" i18n="reverseSelection">
                    <!--<img id="checkReverse" src="images/repImages/rect.png" alt="">-->
                        reverseSelection
                </span>
                <span id="clearCheck" i18n="clearSelection">
                    <!--<img id="clearCheck" src="images/repImages/rect.png" alt="">-->
                        clearSelection
                </span>
                <span>
                    <a permission = 'plantAuthorityEdit' class="save" id="checkSave" i18n="save">save</a>
                </span>
            </div>
            <div class="eachPowerStation" id="eachPowerStation">
                <p style="text-align: center" i18n="roleAuthMan.permissionsLoading">permissionsLoading</p>
            <!--<span>-->
                <!--<img src="images/repImages/rect.png" alt="">-->
                    <!--电站1-->
            <!--</span>-->
            <!--<span>-->
                <!--<img src="images/repImages/rect.png" alt="">-->
                <!--电站1-->
            <!--</span>-->
            <!--<span>-->
                <!--<img src="images/repImages/rect.png" alt="">-->
                    <!--电站1-->
            <!--</span>-->
            <!--<span>-->
                <!--<img src="images/repImages/rect.png" alt="">-->
                    <!--电站1-->
            <!--</span>-->
            <!--<span>-->
                <!--<img src="images/repImages/rect.png" alt="">-->
                    <!--电站1-->
            <!--</span>-->
            <!--<span>-->
                <!--<img src="images/repImages/rect.png" alt="">-->
                    <!--电站1-->
            <!--</span>-->
            </div>
        </div>
    </div>
</div>