<div id="carousel-example-generic" class="carousel slide banner_box" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
    </div>
    <!--光伏-->
    <div class="banner_box_right photovoltaic-plant" style="display: none">
        <div class="banner_box_right_lf">
            <div class="banner_box_right_lf_top">
                <div class="imgBox1">
                    <img src="/images/newMain/img1.png" alt="">
                </div>
                <p class="powerGeneration_num totalPower">--</p>
                <p class="powerGeneration_msg" ><span i18n="totalPowerGen">totalPowerGen</span> （<span class="totalPowerUnit">--</span>）</p>
            </div>
            <div class="banner_box_right_lf_md"></div>
            <div class="banner_box_right_lf_bot">
                <p class="powerGeneration_num totalPrice">--</p>
                <p class="powerGeneration_msg" ><span i18n="totalProfit">totalProfit</span>（<span class="totalPriceUnit">--</span>）</p>
                <div class="imgBox1">
                    <img src="/images/newMain/img2.png" alt="">
                </div>
            </div>
        </div>
        <div class="banner_box_right_ri">
            <div class="banner_box_right_lf_top">
                <div class="imgBox1">
                    <img src="/images/newMain/img3.png" alt="">
                </div>
                <p class="powerGeneration_num totalCap">--</p>
                <p class="powerGeneration_msg"><span i18n="totalCap">totalCap</span>（<span class="totalCapUnit">--</span>）</p>
            </div>
            <div class="banner_box_right_lf_md"></div>
            <div class="banner_box_right_lf_bot">
                <p class="powerGeneration_num totalNum">0</p>
                <p class="powerGeneration_msg" ><span i18n="totalNum">totalNum</span>（<span i18n="seat">seat</span>）</p>
                <div class="imgBox1">
                    <img src="/images/newMain/img4.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--储能-->
    <div class="banner_box_right optical-storage-plant">
        <div class="banner_box_right_lf">
            <div class="banner_box_right_lf_top">
                <div class="imgBox1">
                    <img src="/images/newMain/img1.png" alt="">
                </div>
                <p class="powerGeneration_num totalCapacity">--</p>
                <p class="powerGeneration_msg"><span i18n="totalCapOfEneSto">totalCapOfEneSto</span> （<span class="totalCapacityUnit">--</span>）</p>
            </div>
            <div class="banner_box_right_lf_md"></div>
            <div class="banner_box_right_lf_bot">
                <p class="powerGeneration_num totalElectricity">--</p>
                <p class="powerGeneration_msg"><span i18n="totalStoCap">totalStoCap</span>（<span class="totalElectricityUnit">--</span>）</p>
                <div class="imgBox1">
                    <img src="/images/newMain/img2.png" alt="">
                </div>
            </div>
        </div>
        <div class="banner_box_right_ri">
            <div class="banner_box_right_lf_top">
                <div class="imgBox1">
                    <img src="/images/newMain/img3.png" alt="">
                </div>
                <p class="powerGeneration_num totalPhotovoltaicCapacity">--</p>
                <p class="powerGeneration_msg" ><span i18n="totalPhoCap">totalPhoCap</span>（<span class="totalPhotovoltaicCapacityUnit">--</span>）</p>
            </div>
            <div class="banner_box_right_lf_md"></div>
            <div class="banner_box_right_lf_bot">
                <p class="powerGeneration_num totalGen">0</p>
                <p class="powerGeneration_msg"><span i18n="totalPowerGen">totalPowerGen</span>（<span class="totalGenUnit">--</span>）</p>
                <div class="imgBox1">
                    <img src="/images/newMain/img4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>