<div class="curve_box_top">
    <div class="curve_box_top_lf">
        <input type="text" class="Wdate" id="dateStart">
        —
        <input type="text" class="Wdate" id="dateEnd" >
        <span class="search_box">
                            <img src="/images/newMain/search.png" alt="">
                        </span>
    </div>
    <div class="curve_box_top_ri">
        <span class="activeTime chooseDimension" data-type="day" i18n="day">day</span>
        <span class="chooseDimension" data-type="month" i18n="month">month</span>
        <span class="chooseDimension" data-type="year" i18n="year">year</span>
    </div>
</div>
<div id="profitLine1">
    加载中…
</div>
