    <div id="plantBoxGc"></div>
    <div class="gf-plant">
        <div class="nowTime">-- </div>
        <div class="showGenPro gfPlantGen" id="realTimeInfo">
            <div class="showGen">
                <div class="showGenImg genDay">
                    --
                </div>
                <div class="showmsg">
                    <span i18n="genToday">genToday</span>（<span class="genDayUnit">--</span>）
                </div>
            </div>
            <div class="showPro">
                <div class="showGenImg profitDay">
                    --
                </div>
                <div class="showmsg" >
                    <span i18n="profitToday">profitToday</span>（<span class="profitDayUnit">--</span>）
                </div>
            </div>
        </div>
        <div class="powerStationBox" id="powerStationBox">
            <div class="eachStion" style="background: #EBF8EF;border-bottom: 5px solid #D9F1E1">
                <p class="eachStionNum gen" style="color: #3EB766">--</p>
                <p ><span i18n="gen">gen</span> <span i18n="stand">stand</span></p>
            </div>
            <div class="eachStion" style="background: #ffc;border-bottom: 5px solid #FF0">
                <p class="eachStionNum standby" style="color: #e9cb02">--</p>
                <p ><span i18n="standby">standby</span> <span i18n="stand">stand</span></p>
            </div>
            <div class="eachStion" style="background: #FFF6E5;border-bottom: 5px solid #FFEECE">
                <p class="eachStionNum abnormal" style="color: #ffa35c">--</p>
                <p ><span i18n="abnormal">abnormal</span> <span i18n="stand">stand</span></p>
            </div>
            <div class="eachStion" style="background: #FEEDED;border-bottom: 5px solid #FDDDDD">
                <p class="eachStionNum fault" style="color: #cf0000">--</p>
                <p><span i18n="fault">fault</span> <span i18n="stand">stand</span></p>
            </div>
            <div class="eachStion" style="background: #F4F4F4;border-bottom: 5px solid #EAEAEA">
                <p class="eachStionNum break" style="color: #909090">--</p>
                <p ><span i18n="break">break</span> <span i18n="stand">stand</span></p>
            </div>
        </div>
    </div>
    <!--光储 储能-->
    <div class="gc-cn-plant" style="display:none;">
        <div class="showGenPro todayGenInfo gcCnPlantGen" id="">
            <div class="todayInfoCenter">
                <div class="newNowTime">--</div>
                <div class="genToday">
                    <i></i><span style="margin-right: 45px" i18n="genToday">genToday</span><span class="number">--</span>&nbsp;&nbsp;(<b class="">--</b>)
                </div>
                <div class="genToday chargeNum">
                    <i></i><span style="margin-right: 30px" i18n="charge/discharge">charge/discharge</span><span class="number1">--/--</span>&nbsp;&nbsp;(<b class="">--</b>)
                </div>
            </div>
        </div>
        <div class="powerStationBox gc-power-box" >
            <div class="eachStion" style="background: #EBF8EF;border-bottom: 5px solid #D9F1E1">
                <p class="eachStionNum gen" style="color: #3eb766">--</p>
                <p ><span i18n="gen">gen</span> <span i18n="stand">stand</span></p>
            </div>
            <div class="eachStion" style="background: #ffc;border-bottom: 5px solid #FF0">
                <p class="eachStionNum standby" style="color: #e9cb02">--</p>
                <p ><span i18n="standby">standby</span> <span i18n="stand">stand</span></p>
            </div>
            <div class="eachStion" style="background: #FFF6E5;border-bottom: 5px solid #FFEECE">
                <p class="eachStionNum abnormal" style="color: #ffa35c">--</p>
                <p ><span i18n="abnormal">abnormal</span> <span i18n="stand">stand</span></p>
            </div>
            <div class="eachStion" style="background: #FEEDED;border-bottom: 5px solid #FDDDDD">
                <p class="eachStionNum fault" style="color: #cf0000">--</p>
                <p><span i18n="fault">fault</span> <span i18n="stand">stand</span></p>
            </div>
            <div class="eachStion" style="background: #F4F4F4;border-bottom: 5px solid #EAEAEA">
                <p class="eachStionNum break" style="color: #909090">--</p>
                <p ><span i18n="break">break</span> <span i18n="stand">stand</span></p>
            </div>
        </div>
    </div>
