<div class="navList" id="navList">
    <ul class="navUl">
        <li permission = 'systemSetting'><span><img src="/images/setting/systemSetup/system2.png"></span><a attr-href="partial/setting/systemSetup/systemSetupPage.html" i18n="sysSetup.sysPageSetup" >sysPageSetup</a></li>
        <li permission = 'enterpriseSetting'><span><img src="/images/setting/systemSetup/enterprise1.png" alt=""></span><a attr-href="partial/setting/systemSetup/enterpriseSetting.html" i18n="sysSetup.enterpriseSetup">enterpriseSetup</a></li>
        <li permission = 'elseSetting'><span><img src="/images/setting/systemSetup/other1.png" alt=""></span><a attr-href="partial/setting/systemSetup/other.html" i18n="sysSetup.otherSetup">otherSetup</a></li>
    </ul>
    <div class="messageList" id="messageList">

    </div>
</div>