<!--月峰谷电量统计-->
<div id="electricityBox" class="electricityBox">
    <h2><img src="/images/energyEfficient/activeMonitor/top.png">月峰谷电量统计</h2>
    <div class="timeBox">
        <input type="text" name="timeStart" class="EleWdate" id="statisticalSwitch"
               onclick="WdatePicker({maxDate:'%y-%M',dateFmt:'yyyy-MM',readOnly:true})"/>
        <button title="搜索" id="statisticalSwitchBtn" class="timeSearchBtn" i18n="search"></button>
    </div>
    <div class="statisticalKpi" id="statisticalContent"></div>

</div>