<!--电能质量-->
<div id="elecQualityBoxBox" class="elecQualityBox">
    <h2><img src="/images/energyEfficient/activeMonitor/top.png">电能质量</h2>
    <div class="kpiMain">
        <div class="kpiContent" id="kpiContent">
        </div>
        <div class="kpiInfo">
            <p><img src="/images/energyEfficient/activeMonitor/iocn1.png"><label>预估罚款</label>：<span id="forecastFines" class="clr1">1235.45元</span></p>
            <p><img src="/images/energyEfficient/activeMonitor/iocn2.png"><label>预估奖励</label>：<span id="estimateReward" class="clr1">1235.45元</span></p>
            <p><img src="/images/energyEfficient/activeMonitor/iocn3.png"><label>本月最高</label>：<span id="qa-max" class="clr2">0.92</span></p>
            <p><img src="/images/energyEfficient/activeMonitor/iocn4.png"><label>本月最低</label>：<span id="qa-min" class="clr3">0.73</span></p>
        </div>
    </div>
</div>