<!--企业基本信息-->
<div id="enterpriseInfoBox" class="enterpriseInfoBox">
    <div id="imgCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#imgCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#imgCarousel" data-slide-to="1"></li>
            <li data-target="#imgCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img id="carouselImg0" src="" alt="First slide">
            </div>
            <div class="item">
                <img id="carouselImg1" src="" alt="Second slide">
            </div>
            <div class="item">
                <img id="carouselImg2" src="" alt="Third slide">
            </div>
        </div>
    </div>
    <p class="info-p"><img src="/images/energyEfficient/activeMonitor/icon_1.png"><label>地址</label>：<span id="addr">--</span></p>
    <p class="info-p"><img src="/images/energyEfficient/activeMonitor/icon_2.png"><label>系统接入时间</label>：<span id="connectTime">--</span></p>
    <p class="info-p description"><img src="/images/energyEfficient/activeMonitor/icon_3.png"><label>简介</label>：<span id="description">--</span></p>
</div>