<div class="activeInd">
    <div class="row1">
        <!--企业信息-->
        <div id="enterpriseInfoPage" class="enterpriseInfoPage eeitem">
            <div class="bgl"></div>
            <div class="bgc loadBox" attr-href="partial/energyEfficient/activeMonitor/enterpriseInfo.html"></div>
            <div class="bgr"></div>
        </div>
        <div class="row11">
            <!--用电统计-->
            <div id="useElectricityPage" class="useElectricityPage eeitem">
                <div class="bgl"></div>
                <div class="bgc loadBox" attr-href="partial/energyEfficient/activeMonitor/useElectricity.html"></div>
                <div class="bgr"></div>
            </div>
            <div class="row12">
                <!--月峰谷电量统计-->
                <div id="electricityPage" class="electricityPage eeitem">
                    <div class="bgl"></div>
                    <div class="bgc loadBox" attr-href="partial/energyEfficient/activeMonitor/electricity.html"></div>
                    <div class="bgr"></div>
                </div>
                <!--电能质量-->
                <div id="elecQualityPage" class="elecQualityPage eeitem">
                    <div class="bgl"></div>
                    <div class="bgc loadBox" attr-href="partial/energyEfficient/activeMonitor/electricityQuality.html"></div>
                    <div class="bgr"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row2">
    <!--用电量趋势KPI-->
    <div id="useElecKPIPage" class="useElecKPIPage eeitem">
        <div class="bgl"></div>
        <div class="bgc loadBox" attr-href="partial/energyEfficient/activeMonitor/useElecKPI.html"></div>
        <div class="bgr"></div>
    </div>
    <!--用电负荷趋势-->
    <div id="useElecLoadKPI" class="useElecLoadKPI eeitem">
        <div class="bgl"></div>
        <div class="bgc loadBox" attr-href="partial/energyEfficient/activeMonitor/useElecLoadKPI.html"></div>
        <div class="bgr"></div>
    </div>
    </div>
</div>