<!--用电量趋势KPI-->
<div id="useElecKPIBox" class="useElecKPIBox">
    <h2><img src="/images/energyEfficient/activeMonitor/top.png">用电量趋势</h2>
    <div class="timeBox">
        <div class="controlBox" id="controlBox">
            <a attr-val="0" class="on">日</a>
            <a attr-val="1">月</a>
            <a attr-val="2">年</a>
        </div>
        <div class="timechosseBox" id="timechosseBox">
            <input class="EleWdate" id="statisticalSwitch1"/> <span class="colr">-</span>
            <input class="EleWdate" id="statisticalSwitch2"/>
            <button title="搜索" id="useElecSwitchBtn" class="timeSearchBtn" i18n="search"></button>
        </div>
    </div>
    <div class="useElecKpiContent" id="useElecKpi"></div>
</div>