<!--用电负荷趋势-->
<div id="useElecLoadBox" class="useElecLoadBox">
    <h2><img src="/images/energyEfficient/activeMonitor/top.png">用电负荷趋势</h2>
    <div class="timeBox">
        <div class="timechosseBox" id="timechosseBox">
            <input id="LoadSwitch1" class="EleWdate"/> <span class="colr">-</span>
            <input id="LoadSwitch2" class="EleWdate"/>
            <button title="搜索" id="LoadSwitchBtn" class="timeSearchBtn" i18n="search"></button>
        </div>
    </div>
    <div class="useLoadKpiContent" id="useLoadElecKpi"></div>
</div>