<!--用电统计-->
<div id="useElectricityBox" class="useElectricityBox">
    <h2><img src="/images/energyEfficient/activeMonitor/top.png">用电统计</h2>
    <div class="content">
        <div class="item0 item">
            <div class="item-l"><img src="/images/energyEfficient/activeMonitor/soc1.png" alt=""></div>
            <div class="item-r">
                <p class="mainTit">今日用电</p>
                <p class="mainVal"id="dayElec">--</p>
                <p class="sub-p"><label class="subTit">今日电费</label>：<span class="subVal" id="dayElecPrice">--</span></p>
            </div>
        </div>
        <div class="split"><img src="/images/energyEfficient/activeMonitor/split.png" alt=""></div>
        <div class="item1 item">
            <div class="item-l"><img src="/images/energyEfficient/activeMonitor/soc2.png" alt=""></div>
            <div class="item-r">
                <p class="mainTit">本月用电</p>
                <p class="mainVal"id="monthElec">--</p>
                <p class="sub-p"><label class="subTit">本月电费</label>：<span class="subVal" id="monthElecPrice">--</span></p>
            </div>
        </div>
        <div class="split"><img src="/images/energyEfficient/activeMonitor/split.png" alt=""></div>
        <div class="item2 item">
            <div class="item-l"><img src="/images/energyEfficient/activeMonitor/soc3.png" alt=""></div>
            <div class="item-r">
                <p class="mainTit">今年用电</p>
                <p class="mainVal"id="yearElec">--</p>
                <p class="sub-p"><label class="subTit">今年电费</label>：<span class="subVal" id="yearElecPrice">--</span></p>
            </div>
        </div>
    </div>
</div>