<header>
    <div class="cmLogo" id="toHome">
        <img alt="Logo"  src="">
    </div>
    <nav>
        <ul>
            <li permission = 'accountAndAuthority'>
                <div class="firPer">
                    <img src="/images/newMain/nav_bg1.png" alt="">
                </div>
                <a attr-href="partial/setting/AccountAndAuthority/AccountAndAuthority.html" i18n="AccountAndAuthority">AccountAndAuthority</a>
                <div class="next">
                    <img src="/images/newMain/nav_bg4.png" alt="">
                </div>
            </li>
            <li permission = 'plantManage'>
                <div class="firPer">
                    <img src="/images/newMain/nav_bg1.png" alt="">
                </div>
                <a attr-href="partial/setting/plantManage/plantInfo.html" i18n="plantManage">plantManage</a>
                <div class="next">
                    <img src="/images/newMain/nav_bg4.png" alt="">
                </div>
            </li>
            <li permission = 'deviceManage'>
                <div class="firPer">
                    <img src="/images/newMain/nav_bg1.png" alt="">
                </div>
                <a attr-href="partial/setting/deviceManage/deviceManageIndex.html" i18n="deviceManage">deviceManage</a>
                <div class="next">
                    <img src="/images/newMain/nav_bg4.png" alt="">
                </div>
            </li>
            <li permission = 'sysSetting'>
                <div class="firPer">
                    <img src="/images/newMain/nav_bg1.png" alt="">
                </div>
                <a attr-href="partial/setting/systemSetup/systemSetup.html" i18n="systemSetup">systemSetup</a>
                <div class="next">
                    <img src="/images/newMain/nav_bg4.png" alt="">
                </div>
            </li>
        </ul>
    </nav>
    <div class="other">
        <div class="admin sp-user">
            <img class="loginImg" alt="">
            <a id="settingPageUser"></a>
            <div class="dropPassword">
                <b class="triangle-up"></b>
                <ul>
                    <li id="modifyPwd" i18n="modifyPWD">modifyPWD</li>
                </ul>
            </div>
        </div>
        <!--<div class="setup">-->
            <!--<img src="/images/newMain/set.png" alt="">-->
            <!--<a class="sp-setting sp-navBtn sp-nav-tool-item" id="setting" attr-href="partial/setting/stIndex.html">设置</a>-->
        <!--</div>-->
        <!--<div class="exit">-->
            <!--&lt;!&ndash;<a class="sp-exit sp-navBtn sp-nav-tool-item">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="picImg" id="exitSys" aria-hidden="true">退出</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--<a class="sp-setting sp-navBtn sp-nav-tool-item" id="exitSys">退出</a>-->
        <!--</div>-->

        <div class="exit">
            <!--<a class="sp-exit sp-navBtn sp-nav-tool-item">-->
            <!--<span class="picImg" id="exitSys" aria-hidden="true">退出</span>-->
            <!--</a>-->
            <a class="sp-setting sp-navBtn sp-nav-tool-item" id="exitSys" i18n="exit">exit</a>
        </div>
    </div>
</header>
<div class="mainPageScroll" id="mainPageScroll">
    <div class="setNavBox">
        <div class="setNav" id="setNav">

        </div>
    </div>
</div>
